*.a
*.o
*.par
.deps
/bin/
META.yml
MYMETA.yml
Makefile
Makefile.in
Makefile.old
TAGS
aclocal.m4
autom4te.cache
barnowl
blib
config.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
core
depcomp
gmarshal_funcs.c
gmarshal_funcs.h
install-sh
jabber.log
missing
owl_prototypes.h
owl_prototypes.h.new
perlglue.c
pm_to_blib
runtests.sh.log
runtests.sh.trs
stamp-h1
test-driver
test-suite.log
tester
varstubs.c
zcrypt
