*.a
*.o
*.par
*~
.#*
META.yml
Makefile
Makefile.old
TAGS
\#*#
aclocal.m4
autom4te.cache
barnowl.bin
blib
config.cache
config.h
config.h.in
config.log
config.status
configure
core
jabber.log
owl_prototypes.h
owl_prototypes.h.new
perlglue.c
perlwrap.c
pm_to_blib
tester
varstubs.c
